/*画面全体の設定*/
body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 16px;
  font-size: 2vw;

  text-align: left;
  font-family: verdana, sans-serif;
  font-family: YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  
  line-height: 180%;
  background-color: #ddd;

}
 
/*固定する背景*/
div {
  box-sizing: border-box;
  color: #333;
  /* font-size: 5rem; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100%;
  padding: 5%;
}

.parallax-bg {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity:0.5;
  background: rgba(0,0,0, 0.4); */
}
 
/*スクロールするコンテンツ*/
.scrollbox {
  /* background-color: #ddd; */
}

p {
	margin: 0px 0px 10px 0px;

    /*text-indent: 1em;*/

    /*text-align: left;*/
    text-align: justify;
    text-justify: inter-ideograph; /* 両端揃えの種類 */
}

h1 {
	margin: 30% auto 10px auto;
	padding: 0px;

    color: #fff;
    font-size: 5rem;
    text-align: center;

    text-shadow: #000 1px 0 20px;
}

h2 {
	margin: 0px 0px 20px 0px;
	padding-top: 20px;

    font-size: 1.5rem;
	font-weight: bold;
}

ul {
    margin:		2rem 0px 2.0rem 2.0rem;
    padding:	0px 0px 0px 0.5rem;
    
    list-style-type: circle;
    list-style-type: "\1F4BB";
    font-size: 2rem;
}

li {
	margin:		0px 0px 1rem 0px;
	padding:	0px 0px 0px 1rem;
	line-height: 140%;
}

a {
    color: #333;
    text-decoration: none;
}

a {	text-decoration: none; }
a:link { color: #00f; }
a:visited { color: #00c; }
a:active { color: #f00; }
a:hover { color: #f00; }

